/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

# Angular build assets
public/inline.bundle.js
public/inline.bundle.js.map
public/main.bundle.js
public/main.bundle.js.map
public/polyfills.bundle.js
public/polyfills.bundle.js.map
public/styles.bundle.js
public/styles.bundle.js.map
public/vendor.bundle.js
public/vendor.bundle.js.map

.phpstorm.meta.php
_ide_helper.php
